.modal__title {
    font-family: 'Seymour One';
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    color: var(--title-color);
    margin-bottom: 20px;

    @include tab {
        font-size: 20px;
        line-height: 1.4;
        margin-bottom: 32px;
    }
}

.modal__video {
    border-radius: 10px;
    width: 224px;
    height: 198px;

    @include tab {
        width: 444px;
        height: 205px;
    }
}

.modal__wrapper-video {
    text-align: center;
    margin-bottom: 20px;

    @include tab {
        margin-bottom: 32px;
    }

}

.modal__text {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 14px;
    line-height: 1.43;
    color: var(--title-color);

    @include tab {
        font-size: 16px;
        line-height: 1.4;
        letter-spacing: -0.01em;
    }

}