.hidden-title {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.section.contacts {
  font-weight: 500;
  background-color: var(--background-color);
}

.container.contacts {
  position: relative;
}

.contacts-list {
  &__item {
    background: #fcfcfc;
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
    border-radius: 24px;
  }

  &__facility {
    display: inline-flex;
    align-items: center;

    text-transform: uppercase;
    line-height: 1.86;
    letter-spacing: 0.04em;

    background: #f8d24e;
  }

  &__city {
    line-height: 1.86;
    letter-spacing: 0.04em;

    color: var(--title-color);
  }

  &__address {
    line-height: 1.83;
    letter-spacing: 0.04em;
    font-style: normal;
    color: #d6936d;
  }
}

.timetable {
  &__item {
    font-size: 12px;
    line-height: 1.86;

    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }
  &__days {
    color: var(--title-color);
  }
  &__work-time {
    color: #ababab;
  }
}

.contacts-block {
  color: #131313;

  &__anchor {
    color: inherit;
  }
}

.break-line::after {
  display: block;
  content: '';
  width: 100%;
  height: 1px;
  background-color: #e1e1e1;
}

.button_franchise,
.button_location {
  display: flex;
  align-items: center;
  justify-content: center;
  
  font-weight: 600;
  
  & svg {
    width: 0.6em;
    height: 0.6em;
    margin-left: 7px;
  }
}

.button_location {
  color: var(--title-color);
  & > svg {
    stroke: var(--title-color);
  }
}

.button_franchise {
  color: var(--primary-text-color);
  & > svg {
    stroke: var(--primary-text-color);
  }
}

@media screen and (max-width: 767px) {
  .section.contacts {
    height: calc(1444px - 345px);
  }

  .container.contacts {
    top: -345px;
  }

  .contacts-list {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 32px;
    width: 100%;
    max-width: 400px;

    &__item {
      margin-bottom: 20px;
      padding: 40px 32px;
    }

    &__facility {
      height: 16px;

      padding: 0 24px;
      margin-bottom: 20px;

      font-size: 12px;

      color: var(--primary-text-color);

      border-radius: 4px;
    }

    &__city {
      margin-bottom: 8px;

      font-size: 12px;
    }

    &__address {
      font-size: 12px;
    }
  }

  .break-line::after {
    margin: 24px 0;
  }

  .timetable {
    &__item {
      font-size: 12px;

      &:not(:last-child) {
        margin-bottom: 8px;
      }
    }

    &__work-time {
      color: #ababab;
    }
  }

  .contacts {
    font-size: 12px;
    line-height: calc(18 / 12);
  }

  .button_franchise,
  .button_location {
    width: 161px;
    padding: 13px 0;
    margin-left: auto;
    margin-right: auto;

    font-size: 16px;
    line-height: calc(20 / 16);

    & svg {
      width: 0.6em;
      height: 0.6em;
      margin-left: 7px;
    }
  }

  .button_location {
    margin-bottom: 8px;
  }
}

@media screen and (min-width: 768px) {
    .section.contacts {
    height: calc(655px - 304px);
  }

  .container.contacts {
    top: -304px;
  }

  .contacts-list {
    display: flex;
    margin-bottom: 60px;
    column-gap: 16px;
    &__item {
      width: 224px;
      padding: 40px 40px 40px 24px;
    }
    &__facility {
      height: 28px;

      padding: 0 14px;
      margin-bottom: 32px;

      font-size: 16px;

      color: #131313;

      border-radius: 6px;
    }

    &__city {
      margin-bottom: 12px;

      font-size: 14px;
    }

    &__address {
      font-size: 14px;
    }
  }

  .break-line::after {
    margin: 32px 0;
  }

  .timetable {
    &__item {
      font-size: 14px;

      &:not(:last-child) {
        margin-bottom: 12px;
      }
    }

    &__work-time {
      color: #907e82;
    }
  }

  .contacts {
    font-size: 14px;
    line-height: calc(26 / 14);

    &__anchor {
      color: inherit;
    }
  }

  .button_franchise,
  .button_location {
    width: 196px;
    height: 42px;
    padding: 12px 0;

    font-size: 14px;
    line-height: calc(18 / 14);

    & svg {
      width: 0.9em;
      height: 0.9em;
      margin-left: 13px;
    }
  }

  .button_location {
    margin-right: 16px;
  }

  .buttons-container {
    display: flex;
    justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
    .section.contacts {
    height: calc(662.16px - 96px);
  }

  .container.contacts {
    top: -96px;
  }

  .contacts-list {
    display: flex;
    column-gap: 32px;
    margin-bottom: 64px;
    &__item {
      width: 368px;
      padding: 40px;
    }

    &__city {
      margin-bottom: 8px;

      font-size: 16px;
    }

    &__address {
      font-size: 16px;
    }
  }

  .timetable {
    &__item {
      font-size: 16px;
    }

    &__work-time {
      color: #ababab;
    }
  }

  .contacts {
    font-size: 16px;
    line-height: calc(29 / 16);
  }
}
