<div class="backdrop is-hidden" data-modal-about>
  <div class="modal">
    <button type="button" class="modal-close-button" data-modal-about-close>
      <svg><use href="/src/images/icons.svg#close_icon"></use></svg>
    </button>
    <h2 class="modal__title">How it’s made?</h2>
    <div class="modal__wrapper-video">
      <video controls="" name="media" class="modal__video" width="444">
        <source src="/src/video/videoplayback.mp4" type="video/mp4" />
      </video>
    </div>
    <p class="modal__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et Lorem ipsum dolor sit amet, consectetur
      adipiscing elit, sed do eiusmod tempor incididunt ut labore et
    </p>
  </div>
</div>
