<section class="advantages">
    <a id="advantages"></a>
    <div class="container advantages__container" >
        <h2 class="title_advantages" >advantages</h2>
        <ul class="advantages-list" >
            <li class="advantages-list__item">
                <p class="advantages-list__number advantages-list__number--cow">721</p>
                <p class="advantages-list__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="advantages-list__item">
                <p class="advantages-list__number advantages-list__number--weight">16kg</p>
                <p class="advantages-list__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="advantages-list__item">
                <p class="advantages-list__number advantages-list__number--ice-cream">84</p>
                <p class="advantages-list__text last">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
        </ul>
    </div>
</section>