<section class="slide-up">
    <div class="container slide">
        <div class="main-foto-up">
          <ul>
            <li class="main-foto">
              <img class="main-foto" src="/src/images/customer-reviews/woman_foto@2x.jpg" width="85" height="85">
            </li>
          </ul>
        </div>
        <div class="wrapper">
          <input type="radio" name="point" id="slide1" checked>
          <input type="radio" name="point" id="slide2">
          <input type="radio" name="point" id="slide3">
          <div class="slider">
            <div class="slides slide1"><h4 class="features__heading-up">I love visiting your cafe. You prepare the most delicious ice cream in Los Angeles! In <br> addition, you have beautiful serving, cozy atmosphere and polite staff.</h4>
            </div>
            <div class="slides slide2"><h4 class="features__heading-up">Ice cream is a food product-dessert, which is a mass frozen in the process of continuous <br> whipping, containing basically nutritious, flavoring, aromatic and emulsifying substances.</h4>
            </div>
            <div class="slides slide3"><h4 class="features__heading-up">Ice cream is a high-calorie product, in particular, ice cream varieties, most often based <br> on the creamy ice cream recipe, contain up to 20% fat and up to 20% carbohydrates.</h4>
            </div>
          </div>	
          <h4 class="features__heading-down">Emily, Los Angeles</h4>
          <div class="controls">
            <label for="slide1"></label>
            <label for="slide2"></label>
            <label for="slide3"></label>
          </div>
        </div>
    </div>
</section>
