<section class="gallery">
    <h2 class="hidden-title">gallery</h2>
    <div class="container gallery__block-img">
        <div class="gallery__img-ice-cream">

            <picture>
                <source 
                srcset="./images/gallery/img/desktop/ic-desktop.webp 1x, ./images/gallery/img/desktop/ic-desktop@2x.webp 2x" 
                media="(min-width: 1200px)" 
                type="image/webp">

                <source 
                srcset="./images/gallery/img/tablet/ic-tablet.webp 1x, ./images/gallery/img/tablet/ic-tablet@2x.webp 2x" 
                media="(min-width: 768px)" 
                type="image/webp">

                <source 
                srcset="./images/gallery/img/mobile/ic-mobile.webp 1x, ./images/gallery/img/mobile/ic-mobile@2x.webp 2x" 
                media="(max-width:767px)" 
                type="image/webp">

                <source 
                srcset="./images/gallery/img/desktop/ic-desktop.jpg 1x, ./images/gallery/img/desktop/ic-desktop@2x.jpg 2x" 
                media="(min-width:1200px)">

                <source 
                srcset="./images/gallery/img/tablet/ic-tablet.jpg 1x, ./images/gallery/img/tablet/ic-tablet@2x.jpg 2x" 
                media="(min-width:768px)">

                <source 
                srcset="./images/gallery/img/mobile/ic-mobile.jpg 1x, ./images/gallery/img/mobile/ic-mobile@2x.jpg 2x" 
                media="(max-width:767px)">

                <img src="./images/gallery/img/desktop/ic-desktop.jpg" alt="foto-ice-cream" class="gallery__img">

            </picture>
        </div>
        <div class="customer-reviews">
            
        </div>
    </div>
</section>